{% extends 'base.html.twig' %}

{% block title %}Wilder{% endblock %}

{% block body %}
    <h1>Wilder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wilder.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ wilder.firstName }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ wilder.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wilder_index') }}">back to list</a>

    <a href="{{ path('wilder_edit', {'id': wilder.id}) }}">edit</a>

    {{ include('wilder/_delete_form.html.twig') }}
{% endblock %}
