{% extends 'base.html.twig' %}

{% block title %}Numero index{% endblock %}

{% block body %}
    <h1>Numero index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actif</th>
                <th>Horaire</th>
                <th>Titre</th>
                <th>Resume</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for numero in numeros %}
            <tr>
                <td>{{ numero.id }}</td>
                <td>{{ numero.actif ? 'Yes' : 'No' }}</td>
                <td>{{ numero.horaire ? numero.horaire|date('H:i') : '' }}</td>
                <td>{{ numero.titre }}</td>
                <td>{{ numero.resume }}</td>
                <td>{{ numero.image }}</td>
                <td>
                    <a href="{{ path('numero_show', {'id': numero.id}) }}">show</a>
                    <a href="{{ path('numero_edit', {'id': numero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('numero_new') }}">Create new</a>
{% endblock %}
