{% extends "base.html.twig" %}

{% block title %}-* WildCircus *-{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <div class="uk-container uk-container-expand">
        <section class="firstsection">
            <div class="uk-child-width-1-3@s uk-text-center" uk-grid>
                <div>
                    <li class="{% if activePage=="BOtarif" %}uk-active{% else %}degrade{% endif %}">
                        <a  href="{{ path('reservation')}}">
                            <div class="uk-box-shadow-small uk-box-shadow-hover-large uk-padding">
                                Tarifs
                            </div>
                        </a>
                    </li>
                </div>
                <div>
                    <li class="{% if activePage=="BOcircuit" %}uk-active{% else %}degrade{% endif %}">
                        <a  href="{{ path('reservation')}}">
                            <div class="uk-box-shadow-small uk-box-shadow-hover-large uk-padding">
                                Circuit
                            </div>
                        </a>
                    </li>
                </div>
                <div>
                    <li class="{% if activePage=="BOProgramme" %}uk-active{% else %}degrade{% endif %}">
                        <a  href="{{ path('reservation')}}">
                            <div class="uk-box-shadow-small uk-box-shadow-hover-large uk-padding">
                                Programme
                            </div>
                        </a>
                    </li>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
